<!DOCTYPE html>
<html lang="es">


<nav class="navbar">

    <div class="avanzatech"><button><img id="avanzatech" src="../../../../assets/icons/home2.svg" alt="Logo Home"></button>

    </div>

    <div class="left-side">
        @if(user){
         <button><img src="../../../../assets/icons/newpost2.svg" alt="Nuevo Post"></button>
        }
      
    </div>
    <div class="search-bar">
        <div>
        <img src="../../../../assets/icons/search2.svg" alt="Lupa de búsqueda" class="search-icon">
        </div>
        <div class="input-container">
         <input type="text" placeholder="Buscar..." class="text-indigo-900">   
        </div>
        
        
    </div>
    <div class="right-side">
      
        <button (click)="renderDialog({login:true})"><img class="right" src="../../../../assets/icons/login.svg" alt="Login"></button>
        <button (click)="renderDialog({login:false})"><img class="right" src="../../../../assets/icons/register.svg" alt="Register"></button>

           <button (click)="logoutb()"><img class="right" src="../../../../assets/icons/logout2.svg" alt="Logout"></button> 
     


        
    </div>
</nav>



  
<router-outlet />




</html>