/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

.invalid{
    border-color: brown;
    border-width: 0.17rem;
    border-radius: 0.5rem;
    box-shadow: 2px 5px 4px rgba(0, 0, 0, 0.3) ;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
